<h1> <%= l(:tl_timers) %> </h1>

<%= "#{l(:tl_entries)}: ?? "%>
<%= "#{l(:tl_available)}: #{User.current.time_limit_balance}" %>
<%= "#{l(:tl_total)}: #{User.current.time_limit_total}" %>

<%= form_for(@timer_entry, :url => day_reports_path) do |f| %>

  <table class="timers list">
    <thead>
      <tr>
        <% [:issue, :time, :comment].each do |column| %>
          <th><%= l("field_#{column}")  %></th>
        <% end %>
        <th></th>
        <% if last_column = (@timer_entry && @timer_entry.errors.any?) %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td>
            <%= link_to_issue(issue, :truncate => 60) %>
          </td>
          <td> <p><%= f.text_field :"time_entry_value_#{issue.id}", :size => 6, :required => true %></p> </td>
          <td> <p><%= f.text_field :"time_entry_comment_#{issue.id}", :required => true, class: 'time_limit_time_entry_report' %></p> </td>
          <td> <p><%= f.select :"time_entry_activity_#{issue.id}", activity_collection_for_select_options, :required => true %></p> </td>
          <% if last_column %>
            <td>
              <% if errors = @timer_entry.errors["time_entry_value_#{issue.id}"] %>
                <div id='errorExplanation'>
                  <ul>
                    <% errors.each do |error| %>
                      <li> <%= error %> </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag l(:button_save) %>
<% end %>

