<h1> <%= l(:tl_timers) %> </h1>

<%= "#{l(:tl_entries)}: ?? "%>
<%= "#{l(:tl_available)}: #{User.current.time_limit_balance}" %>
<%= "#{l(:tl_total)}: #{User.current.time_limit_total}" %>

<%= form_for(@timer_entry, :url => day_reports_path) do |f| %>

  <table class="timers list">
    <thead>
      <tr>
        <% [:issue, :time, :comment].each do |column| %>
          <th><%= l("field_#{column}")  %></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td>
            <%= link_to_issue(issue, :truncate => 60) %>
          </td>
          <td> <p><%= f.text_field :"time_entry_value_#{issue.id}", :size => 10, :required => true %></p> </td>
          <td> <p><%= f.text_field :"time_entry_comment_#{issue.id}", :size => 60, :required => true %></p> </td>
          <td> <p><%= f.select :"time_entry_activity_#{issue.id}", activity_collection_for_select_options, :required => true %></p> </td>
          <td>
            <% if error = @timer_entry.errors["time_entry_value_#{issue.id}"] %>
              <p> <%= error.join(', ') %> </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag l(:button_save) %>
<% end %>

